{% extends "base_tables.html" %}

{% block content_title %}{% if dataset %}{{ dataset.filename }}{% else %}SQLite database browser{% endif %}{% endblock %}

{% block content %}
{% if dataset %}
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Location</th>
        <td>{{ dataset.location }}</td>
      </tr>
      <tr>
        <th>Size</th>
        <td>{{ dataset.size|filesizeformat }}</td>
      </tr>
      <tr>
        <th>Created</th>
        <td>{{ dataset.created.strftime('%A %B %d, %Y at %I:%M:%p') }}</td>
      </tr>
      <tr>
        <th>Modified</th>
        <td>{{ dataset.modified.strftime('%A %B %d, %Y at %I:%M:%p') }}</td>
      </tr>
      <tr>
        <th>Tables</th>
        <td>{{ dataset.tables|length }}</td>
      </tr>
    </tbody>
  </table>
{% else %}
<form class="form" role="form" action="{{ url_for('index') }}" enctype="multipart/form-data" method="post">
  <div class="form-group">
    <label for="inputfile">SQLite file</label>
    <input type="file" id="inputfile" name="sqlite-file">
    <p class="help-block">Only selected SQLite database file.</p>
  </div>
  <button type="submit" class="btn btn-default">Open</button>
</form>
 
{% endif %}
{% endblock %}
