{% extends "base_table.html" %}

{% block extra_scripts %}
  <script type="text/javascript">
    $(function() {
      $('a.view-sql').on('click', function(e) {
        e.preventDefault();
        var elem = $(this),
            pre = elem.siblings('div'),
            modalDiv = $('div#sql-modal');
        modalDiv.find('h4.modal-title').text(elem.data('name'));
        modalDiv.find('.modal-body').empty().append(pre.clone().show());
        modalDiv.modal();
      });
    });
  </script>
{% endblock %}

{% block structure_tab_class %}active{% endblock %}

{% block inner_content %}
  <h3 id="sql">SQL</h3>
  <pre>{{ table_sql }}</pre>

  <h3 id="columns">
    <p class="pull-right"><a class="btn btn-primary btn-sm" href="#">Add column</a></p>
    Columns
  </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Column</th>
        <th>Data type</th>
        <th>Allow null</th>
        <th>Primary key</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for info in infos %}
        <tr>
          <td><code>{{ info[1] }}</code></td>
          <td><code>{{ info[2] }}</code></td>
          <td>
            {% if not info[3] %}
              <span class="glyphicon glyphicon-ok"></span>
            {% endif %}
          </td>
          <td>
            {% if info[5] %}
              <span class="glyphicon glyphicon-ok"></span>
            {% endif %}
          </td>
          <td>
            <a href="#">Rename</a>
            <span class="separator">|</span>
            <a href="#">Drop</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr />

  {% if foreign_keys %}
    <h3 id="foreign-keys">Foreign Keys</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Column</th>
          <th>Destination</th>
        </tr>
      </thead>
      <tbody>
        {% for foreign_key in foreign_keys %}
          <tr>
            <td><code>{{ foreign_key[3] }}</code></td>
            <td><code>{{ foreign_key[2] }}.{{ foreign_key[4] }}</code></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr />
  {% endif %}

  <h3 id="indexes">
    <p class="pull-right"><a class="btn btn-primary btn-sm" href="#">Add index</a></p>
    Indexes
  </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <!-- <th>Columns</th> -->
        <th>Unique</th>
        <th>SQL</th>
        <th>Drop?</th>
      </tr>
    </thead>
    <tbody>
      {% for index in indexes %}
        <tr>
          <td>{{ index[1] }}</td>
          <!-- <td>
            {% if index.columns|length == 1 %}
              <code>{{ index.columns[0] }}</code>
            {% else %}
              <ul>
                {% for column in index.columns %}
                  <li><code>{{ column }}</code></li>
                {% endfor %}
              </ul>
            {% endif %}
          </td> -->
          <td>
            {% if index[2] %}
              <span class="glyphicon glyphicon-ok"></span>
            {% endif %}
          </td>
          <td>
            <a class="view-sql" data-name="{{ index.name }}" href="#">SQL</a>
            <div style="display:none;">{% if index.sql %}{{ index.sql }}{% else %}-- no sql found --{% endif %}</div>
          </td>
          <td>
            <a href="#">Drop</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="modal fade" id="sql-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
{% endblock %}
